[Desktop Entry]
Encoding=UTF-8
Name=checksumchecker
GenericName=Checksum Checker
Comment=A checksum checker and creator for Linux Desktops
Exec=checksumchecker
Icon=${SNAP}/meta/gui/checksum_checker.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;
Keywords=checksumchecker;
